<a href="https://colab.research.google.com/github/ThakkarHarsh/Prdocut-Recommendation/blob/main/CosineSimiliaty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
pd.set_option('display.max_columns', 100)
df = pd.read_csv('/content/drive/My Drive/data.csv')
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
0,0,123373,29.0,7,5.0,d,38.0,34.0,new,36,5ft 6in,Emily,just right,small,991571,NaN,NaN,NaN,NaN
1,1,123373,31.0,13,3.0,b,30.0,36.0,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN,NaN,NaN
2,2,123373,30.0,7,2.0,b,NaN,32.0,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.0,NaN,NaN,NaN
3,3,123373,NaN,21,5.0,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN,NaN,NaN
4,4,123373,NaN,18,5.0,b,NaN,36.0,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN,NaN,NaN

In [ ]:
df = df[['item_id','waist','fit','size']]
df.head()

   item_id  waist    fit  size
0   123373   29.0  small     7
1   123373   31.0  small    13
2   123373   30.0  small     7
3   123373    NaN    fit    21
4   123373    NaN  small    18

In [ ]:
df['name'] = df['waist'].map(str) + df['fit'].map(str) +  df['size'].map(str)

In [ ]:
df.head()

   item_id  waist    fit  size         name
0   123373   29.0  small     7   29.0small7
1   123373   31.0  small    13  31.0small13
2   123373   30.0  small     7   30.0small7
3   123373    NaN    fit    21     nanfit21
4   123373    NaN  small    18   nansmall18

In [ ]:
df.set_index('item_id', inplace = True)

In [ ]:
count = CountVectorizer()
count_matrix = count.fit_transform(df['name'])
indices = pd.Series(df.index)
indices[:5]

0    123373
1    123373
2    123373
3    123373
4    123373
Name: item_id, dtype: int64

In [ ]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

In [ ]:
len(df)

82790

In [ ]:
# function that takes in movie title as input and returns the top 10 recommended movies
def recommendations(title, cosine_sim = cosine_sim):
    
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = indices[indices == title].index[0]
 
    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
 
    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(df.index)[i])
        
    return recommended_movies

In [ ]:
recommendations(title="alexmeyer626")